


                      
              <md-list>
                       <a md-list-item [routerLink]="['dashboard']" routerLinkActive="active"
                        class="app-list-item">
                       <md-icon class="app-icon-list">dashboard</md-icon>Dashboard</a>
                     
                     <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">attach_money</md-icon>Finance</a>

                <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">tram</md-icon>Transportation</a>

                <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">work</md-icon>Assets</a>
   
                <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">people</md-icon>User Management</a>

                  <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">accessibility</md-icon>Human Resources</a>

                      <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">call</md-icon>Help Desk</a>

                    <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">receipt</md-icon>Report</a>

                     <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">personal_video</md-icon>Advertisement</a>
                  
    
                  <a md-list-item [routerLink]="['/contactus']"
                       class="app-list-item">
                    <md-icon class="app-icon-list">contact_phone</md-icon>Contact Us</a>
                     
                     <a md-list-item [routerLink]="['/contactus']"
                      class="app-list-item">
                    <md-icon class="app-icon-list">settings</md-icon>Settings</a>

            </md-list>


 

